/* ===========================================================================
==== HOME PAGE STYLES
============================================================================== */
.home {
	h2 {
		font-size: 44px;
		font-weight: 300;
		color: $mid-grey;
		margin-bottom: .75em;
	}
	h3 {
		font-size: 22px;
		font-weight: 700;
		color: $light-grey;
		margin-bottom: 0;
	}
}
.bordered .row {
	padding: 4em 1.5em;
	border-bottom: 2px dotted $mid-grey;
}
.hero-image {
	p {
		font-family: $headings;
		font-size: 1.5em;
		color: #fff;
		margin-top: .5em;
		position: relative;
  		top: -.5em;
	}

	img {
		width: 100%;
		position: relative;
		z-index: -10;
		margin-top: -8.5em;
	}
}
.hero-text {
	  background-color: rgba(100,194,210,.7);
	  padding: 3em 0 1em;
	  margin-top: -2.5em;

	p {
		font-family: $headings;
		font-size: 1.66em;
		font-weight: 300;
		text-align: center;
		color: $dark-grey;
		padding: 0 3em;
		margin: 0;
	}
}
.what-we-do {
	div {
		padding: 0 2em;

		&:nth-child(2) {
			padding-left: 0;
		}
		&:nth-child(4) {
			padding-right: 0;
		}
	}
	p {
		font-size: 18px;
		color: $light-grey;
	}
}
.our-process {
	.row {
		padding: 6em 1.5em 4em;
	}
	h2 {
		margin-right: .5em;
	}
	.process-number {
		float: left;
		width: 25%;
	}
	span {
		float: left;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 166px;
		font-weight: bold;
		line-height: .39;
		color: #dadcde;
		margin-right: .025em;
		margin-bottom: 0;

		&#one {
			margin-right: -.1em;
		}
	}
	.reveal {
		float: left;
		width: 45%;

		p {
			font-family: $headings;
			font-size: 18px;
			font-weight: 700;
			line-height: 1.25;
			color: $blue;
			margin-bottom: 0;
		}
	}
	.one {
		-webkit-animation-delay: .5s;
    	animation-delay: .5s;
	}
	.two {
		-webkit-animation-delay: 1.25s;
    	animation-delay: 1.25s;
	}
	.three {
		-webkit-animation-delay: 2s;
    	animation-delay: 2s;
	}
	.four {
		-webkit-animation-delay: 2.75s;
    	animation-delay: 2.75s;
	}
}
.contact {
	.row {
		padding: 4em 1.5em;
	}
	h2 {
		float: left;
		margin-right: .5em;
	}
	form {
		font-family: $headings;
	}
	ul {
		float: left;
		list-style-type: none;
	}
	li {
		float: left;
		width: 100%;
		margin-bottom: 1.5em;

		&.phone {
			width: 48.75%;
			margin-right: 1.5em;
		}
		&.city {
			width: 49%;
		}
	}
	input, textarea {
		width: 100%;
		color: $light-grey;
		padding: 1em;
		  border: 1px solid #b1b3b3;
	}
	input[type='submit'] {
		width: 25%;
		background-color: #64c2d2;
		color: #fff;
		border: none;
	}
	textarea {
		height: 200px;
	}
}
/* ANIMATE.CSS
------------------------------------------------------------------------------ */
.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}