/* ===========================================================================
==== MEDIA QUERIES
=========================================================================== */

/* VERY LARGE SCREENS (DESKTOP AND BIGGER)
------------------------------------------------------------------------------ */
@media screen and (min-width: 1220px) {
	.home {
		.our-process {
			h2 {
				float: left;
			}
			.process-number {
				width: 19%;
				padding-left: 0;
			}
		}
	}
}

/* LARGE SCREENS (DESKTOP/LAPTOP)
----------------------------------------------------------------------------*/
@media screen and (min-width: 980px) and (max-width: 1219px) {
	.nav-collapse {
		margin-top: 8em;
	}
	.home {
		h3 {
			font-size: 18px;
			margin-bottom: .25em;
		}
		.hero-image {
			h1 {
				font-size: 1.125em;
				top: -1em;
			}
			img {
				margin-top: -6.5em;
			}
		}
		.what-we-do {
			p {
				font-size: 16px;
			}
		}
		.our-process {
			.row {
				padding: 3em 1.5em 4em;
			}
			h2 {
				margin-bottom: 1.5em;
			}
			.process-number {
				padding-left: 2em;
			}
			p {
				font-size: 120px;
			}
		}
		.contact .phone-wrap {
  			width: 48.25%;
		}
		.contact .city-wrap {
			width: 48%;
		}
	}
}

/* IPAD SPECIFICALLY
------------------------------------------------------------------------------ */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}

/* TABLETS
------------------------------------------------------------------------------ */
@media screen and (max-width: 979px) {
	.nav-collapse li ul.sub-menu {
		top: -84px;
		font-size: .75em;
	}
	.nav-collapse li ul.sub-menu li {
		padding: 3px 0;
	}

}

/* TABLETS - LIMITED
------------------------------------------------------------------------------ */
@media screen and (min-width: 740px) and (max-width: 979px) {
	.nav-collapse {
		margin-top: 2.5em;

		li {
			margin-right: 1.5em;
		}
		.social li {
			margin-right: 1em;
		}
	}
	.home {
		h2 {
			font-size: 36px;
			margin-bottom: .75em;
		}
		h3 {
			font-size: 18px;
		}
		.hero-image {
			h1 {
				width: 300px;
				font-size: 1em;
				top: -1em;
			}
			img {
				margin-top: -5.25em;
			}
		}
		.hero-text {
			padding-top: 2em;
			margin-top: -1.5em;

			p {
				font-size: 1.125em;
			}
		}
		.bordered {
			.row {
				padding: 2em 1.5em;
			}
		}
		.what-we-do {
			div {
				padding: 0;
			}
			p {
				font-size: 16px;
			}
		}
		.our-process {
			.row {
				padding: 4em 1.5em 5.5em;
			}
			h2 {
				margin-bottom: 1.5em;
				float: none;
			}
			.process-number {
				width: 25%;

				span {
					font-size: 156px;
				}
				.reveal {
					p {
						font-size: 14px;
					}
				}
			}
		}
	}
	.interior {
		.nav-collapse {
			margin-top: 3em;
		}
		.content {
			padding-top: 2.5em;
		}

		h1 {
			font-size: 2.25em;
		}

		aside {
			font-size: 14px;

			blockquote {
				margin-left: 2em;
				margin-right: 2em;

				cite {
					font-size: 11px;
				}
			}
		}
	}
	footer p {
		font-size: .75em;
	}
}

/* MEDIUM SCREENS (LARGE PHONES)
----------------------------------------------------------------------------*/
@media screen and (max-width: 739px) {
	header {
		margin-top: 10px;
	}
	.interior nav {
		margin-top: -4em;
	}
	.nav-toggle {
		position: relative;
		z-index: 10;
	}
	.nav-collapse {
		font-size: 15px;
		margin-top: -4em;

		ul {
			width: 110%;
		}

		li {
			float: none;
			margin-right: 0;
			margin-bottom: .25em;
			display: block;
			padding: 5px 0;

			&.social {
				float: left;
			}
		}
		li:hover ul.sub-menu {
  			display: none;
  		}
	}
	.home {
		.hero-image {
			h1 {
				font-size: .875em;
				text-align: right;
				color: $dark-grey;
				top: -2.5em;
			}
			img {
				margin-top: -2.5em;
			}
		}
		.hero-text {
			padding: 2em 0 1em;
			margin-top: -1.5em;
			
			p {
				font-size: 1.125em;
				padding: 0 1.5em;
			}
		}
		.bordered {
			.row {
				padding: 2em 1.5em;
			}
		}
		.what-we-do {
			div {
				padding: 0;
			}
		}
		.our-process {
			h2 {
				margin-bottom: 1.5em;
			}
			.row {
				padding: 2em 1.5em 5em;
			}
			.process-number {
				text-align: center;
			}
			span {
				font-size: 180px;
			}
			.reveal {
				float: none;
				width: 60%;
				margin: 0 auto;
				position: relative;
				top: 3em;

				p {
					font-size: 13px;
				}
			}
		}
		.contact .phone-wrap, .contact .city-wrap {
			width: 100%;
		}
	}
	.interior {

		aside {
			height: auto !important;
		}
	}
	.single {
		h1 {
			font-size: 2em;
		}
		img {
			width: 100%;
		}
	}
	footer p {
		font-size: .75em;
	}
}

/* SMALL SCREENS (SMALL PHONES)
----------------------------------------------------------------------------*/
@media screen and (max-width: 499px) {
	.gridlock .row {
		width: 96%;
	}
}
/* VERY SMALL SCREENS
------------------------------------------------------------------------------ */
@media screen and (max-width: 450px) {
	header {
		margin-top: 20px;
	}
	.nav-collapse .menu {
		width: 140%;
	}
	.home {
		.hero-image {
			h1 {
				top: -1em;
				text-align: center;
			}
			img {
				margin-top: -1.5em;
			}
		}
		.our-process {
			span {
				font-size: 150px;
			}
			.reveal {
				width: 80%;
			}
		}
	}
}
/* iPHONE SPECIFIC
------------------------------------------------------------------------------ */
@media screen and (max-width: 390px) {
	.home {
		.hero-text {
			padding: 1.25em 0px 1em;
		    margin-top: -0.75em;

		    p {
		    	font-size: 1em;
		    }
		}
		.our-process {
			span {
				font-size: 120px;
			}
		}
		.contact input[type="submit"] {
			width: 50%;
		}
	}
}