/* ===========================================================================
==== SINGLE POST STYLES
============================================================================== */
.single {
	.row {
		padding: 2em 0;
	}
}
.page-template-archives {
	.row {
		padding: 2em 0;
	}
	h1 {
		margin-bottom: .75em;
	}
}