/* ===========================================================================
==== VARIABLES
============================================================================== */

/* FONTS
------------------------------------------------------------------------------ */
$headings: 'Roboto Slab', serif;
$copy: 'Open Sans', Helvetica, Arial, sans-serif;

/* COLORS
------------------------------------------------------------------------------ */
$nav: #96999b;
$light-grey: #b1b3b3;
$mid-grey: #82898a;
$dark-grey: #5e6263;
$light-blue: #dbf2f5;
$blue: #64C2D2;
$dark-blue: #55a1ac;

/* WIDTHS
------------------------------------------------------------------------------ */
$w100: 100%;
$w75: 75%;
$w66: 66.666667%;
$w50: 50%;
$w33: 33.333333%;
$w25: 25%;