/* ===========================================================================
==== VARIABLES
============================================================================== */

/* FONTS
------------------------------------------------------------------------------ */

/* COLORS
------------------------------------------------------------------------------ */

/* WIDTHS
------------------------------------------------------------------------------ */
$w100: 100%;
$w75: 75%;
$w66: 66.666667%;
$w50: 50%;
$w33: 33.333333%;
$w25: 25%;