/* ===========================================================================
==== FOR WORDPRESS
============================================================================== */
.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}
img.alignleft {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
img.alignright {
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
}
img.aligncenter {
    margin: 0 auto;
}